@{
    Layout = null;
}
<nav class="navbar fixed-top navbar-expand-lg bg-dark navbar-dark">
    <a class="navbar-brand" href="@Url.Action(" Index", "Home" )">Net-Scrap</a>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="@Url.Action(" Index", "Dashboard" )">Dashboard</a>
        </div>
    </div>
</nav>