@{
    ViewBag.Title = "Home";
}

<div>
    <div class="container text-white">
        <br /><br /><br /><br /><br /><br />
        <img src="@Url.Content("~/Content/forklift.png")" alt="logo" style="height:120px" />
        <h1 style="font-size:70px">Net-Scrap</h1>
        <p class="lead">Open Source Web Crawler using <br /> Azure Cloud Services</p>
        <form action="@Url.Action("Index","Dashboard")">
            <button href="@Url.Action("Index","Dashboard")" type="submit" class="btn btn-outline-warning">View Dashboard</button>
        </form>
    </div>
</div>